.overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  backdrop-filter: blur(5px); /* Apply a blur effect to the background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  position: relative;
  z-index: 1; /* Ensure loader is on top of the overlay */
}
